<!--<pre>{{containerObject}}</pre><br>
<pre>{{containerStateObject}}</pre><hr>-->
<uib-accordion>

    <div ng-if="checkArray(containerObject)">
        <container ng-repeat="el in containerObject"
                   level="level+1"
                   container-object="el"
                   container-state-object="containerStateObject[el['@name']]">

        </container>
    </div>

    <div ng-if="!checkArray(containerObject)">

        <div uib-accordion-group ng-style="style" class="panel-default" is-open="panel.open" is-disabled="false" ng-click="open = !panel.open">

            <uib-accordion-heading>
                {{containerObject['@name'] | vnfCompName:containerObject.description}}

                <i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus': panel.open, 'glyphicon glyphicon-plus': !panel.open}"></i>
            </uib-accordion-heading>

            <span ng-if="containerObject.hasOwnProperty('container')">

                <span ng-if="checkArray(containerObject.container)">
                    <container level="level+1"
                               container-object="containerObject.container"
                               container-state-object="containerStateObject">

                    </container>
                </span>

                <span ng-if="!checkArray(containerObject.container)">
                    <container level="level+1"
                               container-object="containerObject.container"
                               container-state-object="containerStateObject[containerObject.container['@name']]">

                    </container>
                </span>

            </span>

            <span ng-if="containerObject.hasOwnProperty('list')">
                <list list-model="containerObject.list"
                      list-state-object="containerStateObject[containerObject.list['@name']]"
                      augment-object="augmentObject[containerObject.list['@name']]">

                </list>
            </span>

            <span ng-if="containerObject.hasOwnProperty('leaf')">
                <leaf class="col-sm-12"
                      ng-repeat="le in containerObject.leaf"
                      leaf-object="le"
                      state-object="containerStateObject">

                </leaf>
            </span>

        </div>

    </div>

</uib-accordion>
