<!--<pre>{{containerObject}}</pre><br>
<pre>{{containerStateObject}}</pre><hr>-->
<div>

    <div ng-if="checkArray(containerObject)">
        <container ng-repeat="el in containerObject"
                   level="level+1"
                   root-object="rootObject"
                   container-object="el"
                   container-state-object="containerStateObject[el['@name']]">

        </container>
    </div>

    <div ng-if="!checkArray(containerObject)">
        <uib-accordion>
            <div uib-accordion-group ng-style="style" class="panel-default" is-open="panel.open" is-disabled="false" ng-click="open = !panel.open">

                <uib-accordion-heading>
                    {{containerObject['@name'] | vnfCompName:containerObject.description}}

                    <i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus': panel.open, 'glyphicon glyphicon-plus': !panel.open}"></i>
                </uib-accordion-heading>

                <span ng-if="containerObject.hasOwnProperty('container')">

                <span ng-if="checkArray(containerObject.container)">
                    <container level="level+1"
                               root-object="rootObject"
                               container-object="containerObject.container"
                               container-state-object="containerStateObject">

                    </container>
                </span>

                <span ng-if="!checkArray(containerObject.container)">
                    <container level="level+1"
                               root-object="rootObject"
                               container-object="containerObject.container"
                               container-state-object="containerStateObject[containerObject.container['@name']]">

                    </container>
                </span>

            </span>

                <span ng-if="containerObject.hasOwnProperty('list')">
                <list list-model="containerObject.list"
                      root-object="rootObject"
                      list-state-object="containerStateObject[containerObject.list['@name']]"
                      level="level+1"
                      augment-object="augmentObject[containerObject.list['@name']]">

                </list>
            </span>

                <span ng-if="containerObject.hasOwnProperty('leaf')">
                    <pre>leaf-object: {{containerObject.leaf | json}}</pre><br>
                    <pre>state-object: {{containerStateObject | json}}</pre><br>
                <leaf class="col-sm-12"
                      ng-repeat="le in containerObject.leaf"
                      root-object="rootObject"
                      leaf-object="le"
                      state-object="containerStateObject">

                </leaf>
            </span>

            </div>

        </uib-accordion>
    </div>
</div>
