<!--<pre>{{stateObject | json}}</pre><br>
<pre>{{leafObject | json}}</pre><br>-->
<div class="form-group">
	<label class="control-label col-sm-3">{{leafName}}:</label>
	<div class="col-sm-8" ng-switch="leafObject.type['@name']">


		<span ng-switch-when="enumeration">

		    <select class="form-control"
					ng-model="stateObject[leafObject['@name']]"
					ng-options="en['@name'] as en['@name'] for en in leafObject.type.enum">

			</select>
		</span>

		<!-- string, inet:ip-address, inet:ipv4-address  sono interpretate come input text
			ma le suddivido per eventuali diversità che possono sorgere -->

		<span ng-switch-when="string">
			<span ng-if="leafObject.hasOwnProperty('description')">

				<input dyn-attr="attrs"
					   class="form-control"
					   ng-model="stateObject[leafObject['@name']]"
					   type="text"/>

			</span>
		    <span ng-if="!leafObject.hasOwnProperty('description')">

				<input class="form-control"
					   ng-model="stateObject[leafObject['@name']]"
					   type="text"/>
			</span>
		</span>



		<span ng-switch-when="inet:ip-address">
		    <span ng-if="leafObject.hasOwnProperty('description')">

				<input dyn-attr="attrs"
					   class="form-control"
					   ng-model="stateObject[leafObject['@name']]"
					   type="text"/>

			</span>
		    <span ng-if="!leafObject.hasOwnProperty('description')">

				<input class="form-control" ng-model="stateObject[leafObject['@name']]" type="text"/>
			</span>
		</span>



		<span ng-switch-when="inet:ipv4-address">

			<input dyn-attr="attrs"
				   class="form-control"
				   ng-model="stateObject[leafObject['@name']]"
				   type="text"/>


		    <span ng-if="!leafObject.hasOwnProperty('description')">
				
		        <input class="form-control"
					   ng-model="stateObject[leafObject['@name']]"
					   type="text"/>
		    </span>
		</span>


	</div>
</div>
