[submodule "vnf-template-library"]
	path = vnf_template_library
	url = https://github.com/netgroup-polito/vnf-template-library.git
[submodule "nffg-library"]
	path = nfg/nffg-library
	url = https://github.com/netgroup-polito/nffg-library.git
