[submodule "nfg/nffg_library"]
	path = nfg/nffg_library
	url = https://github.com/netgroup-polito/nffg-library.git
[submodule "nfg/vnf_template_library"]
	path = nfg/vnf_template_library
	url = https://github.com/netgroup-polito/vnf-template-library.git
