{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <title>{{ guiName }} - NF-FG Refactor</title>
    <link rel="icon" href="{% static "img/favicon.ico" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/dialogs.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/graphElement.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "css/refactor/refactor.css" %}">

    <!-- Javascipt Library -->
    <script type="text/javascript" src="{% static 'js/libs/jquery/jquery.min.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'js/libs/d3/d3.v3.min.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'js/libs/d3/d3.v4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/d3/d3-dispatch.v1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/d3/d3-selection.v1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/d3/d3-selection-multi.v1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/d3/d3-drag.v1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/bootstrap/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/bootstrap/bootstrap-filestyle.min.js' %}"></script>

    <!-- Javascript Extensions -->
    <script type="text/javascript" src="{% static 'js/extensionUtils.js' %}"></script>

    <!-- Angular Library -->
    <script type="text/javascript" src="{% static 'js/libs/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/angular/angular-messages.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/angular/angular-mocks.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/angular/angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/angular/angular-sanitize.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/bootstrap/ui-bootstrap-tpls-1.3.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/dialogs.js' %}"></script>

    <!-- Angular JS application -->
    <script type="text/javascript" src="{% static 'js/refactor-application/app.js' %}"></script>

    <!-- Angular Module fg-d3-->
    <script type="text/javascript" src="{% static 'js/fg-d3/moduleInit.js' %}"></script>
    <!-- Angular Service -->
    <script type="text/javascript" src="{% static 'js/fg-d3/services/InitializationService.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fg-d3/services/d3Service.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fg-d3/services/fgDrawService.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fg-d3/services/fgDragService.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fg-d3/services/fgModalService.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fg-d3/services/fgClickService.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fg-d3/services/fgLinkService.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fg-d3/services/fgUpdateService.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fg-d3/services/recursionHelperService.js' %}"></script>
    <!-- Angular Controller -->
    <script type="text/javascript" src="{% static 'js/fg-d3/modal_controllers/endpointModalController.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fg-d3/modal_controllers/vnfModalController.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fg-d3/modal_controllers/linkModalController.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fg-d3/modal_controllers/bigswitchModalController.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fg-d3/modal_controllers/vnfConfigModalController.js' %}"></script>
    <!-- Angular Directive -->
    <script type="text/javascript" src="{% static 'js/fg-d3/directives/d3/d3nffgDirective.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fg-d3/directives/objectVisualizationDirective.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fg-d3/directives/containerDirective.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fg-d3/directives/listDirective.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fg-d3/directives/leafDirective.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fg-d3/directives/loadConfigVNFDirective.js' %}"></script>
    <!-- Angular Constants -->
    <script type="text/javascript" src="{% static 'js/fg-d3/constants.js' %} "></script>

    <!-- Angular Module fg-gui-->
    <!-- Angular Service -->
    <script type="text/javascript" src="{% static 'js/refactor-application/services/BackendCallService.js' %}"></script>
    <!-- Angular Controller -->
    <script type="text/javascript" src="{% static 'js/refactor-application/controllers/mainController.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/refactor-application/controllers/nffgController.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/refactor-application/controllers/updateFGInfoController.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/refactor-application/controllers/loadFromServerController.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/refactor-application/controllers/loadFromLocalFSController.js' %}"></script>
    <!-- Angular Directive -->
    <script type="text/javascript" src="{% static 'js/refactor-application/directives/fileUploadDirective.js' %}"></script>
    <!-- Angular Constants -->
    <script type="text/javascript" src="{% static 'js/refactor-application/constants.js' %} "></script>
    <!-- Angular Route ( view - controller description ) -->
    <script type="text/javascript" src="{% static 'js/refactor-application/routeProvider.js' %}"></script>
    <!-- Angular Application Bootstrap -->
    <script type="text/javascript" src="{% static 'js/refactor-application/appBootstrap.js' %}"></script>
</head>
<body ng-controller="MainController as MainCtrl">
<!-- header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">{{ guiName }}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        User & Group
                        <span class="caret"></span>
                    </a>

                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
                        <li><a href="/users/#/">User</a></li>
                        <li><a href="/users/#/groups">Group</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/info"><i class="glyphicon glyphicon-info-sign"></i> Info</a>
                <li>
                <li><a>Welcome {{ username }}</a></li>
                <li><a href="/logout/"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /Header -->
<div class="container-fluid" ng-view>

</div>
</body>
</html>