<div class="modal-header">
    <button type="button" class="close" aria-hidden="true"
            ng-click="LinkCtrl.cancel()">×
    </button>
    <h4 class="modal-title">FlowRule properties</h4>
</div>

<form class="form-horizontal"
      name="linkForm"
      novalidate
      ng-submit="LinkCtrl.save(linkForm)">
    <div class="modal-body">


        <div class="form-group">
            <label class="control-label col-sm-2" for="frid">ID:</label>
            <div class="col-sm-10">
                <input type="text"
                       name="idFR"
                       id="frid"
                       class="form-control"
                       ng-model="LinkCtrl.fgElem.id"
                       disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="frDesc">Description:</label>
            <div class="col-sm-10">
                <input type="text"
                       name="descFR"
                       id="frDesc"
                       class="form-control"
                       ng-model="LinkCtrl.fgElem.description">
            </div>
        </div>


        <div class="form-group ">
            <label class="control-label col-sm-2" for="frPriority">Priority:</label>
            <div class="col-sm-10">
                <input type="number"
                       name="priorityFR"
                       id="frPriority"
                       class="form-control"
                       required
                       ng-model="LinkCtrl.fgElem.priority">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="match">
                <a ng-click="LinkCtrl.matchShown = !LinkCtrl.matchShown">Match:
                    <span class="fa" ng-class="LinkCtrl.matchShown?'fa-caret-right':'fa-caret-down'"></span>
                </a>
            </label>
            <div class="col-sm-10" uib-collapse="LinkCtrl.matchShown">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Value</th>
                        <th>
                            <button class="btn btn-default btn-circle"
                                    type="button"
                                    ng-click="LinkCtrl.addMatch()">
                                <span class="fa fa-plus"></span>
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="used in LinkCtrl.LKMatchUsed">
                        <td>
                            <select class="form-control"
                                    required
                                    name="{{ $index }}matchType"
                                    ng-options="elem for elem in LinkCtrl.getAvailableMatch(used.name)"
                                    ng-model="used.name"
                                    ng-change="LinkCtrl.matchChanged($index,used.name)">
                            </select>
                        </td>
                        <td ng-switch="used.type">
                            <input type="number" class="form-control"
                                   ng-switch-when="number"
                                   name="{{ $index }}matchValue"
                                   ng-model="LinkCtrl.fgElem['match'][used.name]"
                                   ng-required="used.name != ''">
                            <input type="checkbox" class="form-control"
                                   ng-switch-when="boolean"
                                   name="{{ $index }}matchValue"
                                   ng-model="LinkCtrl.fgElem['match'][used.name]"
                                   ng-required="used.name != ''">
                            <input type="text" class="form-control"
                                   ng-switch-default=""
                                   name="{{ $index }}matchValue"
                                   ng-model="LinkCtrl.fgElem['match'][used.name]"
                                   ng-required="used.name != ''">
                        </td>
                        <td>
                            <button class="btn btn-default btn-circle"
                                    type="button"
                                    ng-click="LinkCtrl.removeMatch($index)">
                                <span class="fa fa-minus"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2  complexFRFields">
                <a ng-click="LinkCtrl.actionShown = !LinkCtrl.actionShown">Action:
                    <span class="fa" ng-class="LinkCtrl.actionShown?'fa-caret-right':'fa-caret-down'"></span>
                </a>
            </label>
            <div class="col-sm-10" uib-collapse="LinkCtrl.actionShown">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Value</th>
                        <th>
                            <button class="btn btn-default btn-circle"
                                    type="button"
                                    ng-click="LinkCtrl.addAction()">
                                <span class="fa fa-plus"></span>
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="action in LinkCtrl.fgElem['actions']">
                        <td>
                            <select class="form-control"
                                    required
                                    name="{{ $index }}ActionType"
                                    ng-options="key as key.capitalizeFirstLetter() for (key,value) in LinkCtrl.LKAction.properties"
                                    ng-model="LinkCtrl.LKActionHelper[$index]">
                            </select>
                        </td>
                        <td ng-switch="LinkCtrl.LKAction.properties[LinkCtrl.LKActionHelper[$index]].type">
                            <input type="number" class="form-control"
                                   ng-switch-when="number"
                                   name="{{ $index }}ActionValue"
                                   ng-model="action[LinkCtrl.LKActionHelper[$index]]"
                                   required>
                            <input type="checkbox" class="form-control"
                                   ng-switch-when="boolean"
                                   name="{{ $index }}ActionValue"
                                   ng-model="action[LinkCtrl.LKActionHelper[$index]]"
                                   required>
                            <input type="text" class="form-control"
                                   ng-switch-default=""
                                   name="{{ $index }}ActionValue"
                                   ng-model="action[LinkCtrl.LKActionHelper[$index]]"
                                   required>
                        </td>
                        <td>
                            <button class="btn btn-default btn-circle"
                                    type="button"
                                    ng-click="LinkCtrl.removeAction($index)">
                                <span class="fa fa-minus"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">{{ LinkCtrl.saveText }}</button>
    </div>
</form>
