<div class="row">

    <div class="col-sm-3">
        <!-- Left column -->
        <br>

        <div class="info"></div>


    </div>
    <!-- /col-3 -->
    <div class="col-sm-9">
        <!-- The icons used in this menubar you can find at: http://fortawesome.github.io/Font-Awesome/icons/ -->
        <div id="menubar">
            <div class="btn-group" role="group" aria-label="...">

                <!-- Empty Document -->
                <button type="button" class="menu btn btn-default btn-lg"
                        ng-click="NFFGCtrl.newForwardingGraph();"
                        title="New Document">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                </button>

                <!-- Edit Button -->
                <button type="button" class="menu btn btn-default btn-lg"
                        ng-click="NFFGCtrl.toggleEditButton()"
                        ng-disabled="!NFFGCtrl.fg"
                        title="Draw Menu">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>


                <!-- Big Switch Button -->
                <button type="button" class="menu btn btn-default btn-lg" ng-click="NFFGCtrl.toggleBigSwitch()"
                        ng-class="NFFGCtrl.isForced?'btn-warning':NFFGCtrl.showBigSwitch?'btn-info':''"
                        title="Toggle Simple/Big Switch view" id="BSViewToogle">
                    <i class="fa fa-square-o fa-lg"></i>
                </button>

                <!-- Save Button -->
                <button type="button" class="menu btn btn-default btn-lg" onclick="showSaveForm();"
                        title="Save"
                        disabled>
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                </button>

                <!-- Open From Client Button -->
                <button type="button" class="menu btn btn-default btn-lg" ng-click="NFFGCtrl.loadFromLocalFS();"
                        title="Open from Client">
                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                </button>

                <!-- Open From Server Button -->
                <button type="button" class="menu btn btn-default btn-lg" ng-click="NFFGCtrl.loadFromServer();"
                        title="Open from Server">
                    <i class="fa fa-server fa-lg"></i>
                </button>

                <!-- Preview Button -->
                <button type="button" class="menu btn btn-default btn-lg" onclick="showPreviewFG();"
                        title="Preview"
                        disabled>
                    <i class="fa fa-code fa-lg"></i>
                </button>

                <!-- Deploy(Test) Button -->
                <button type="button" class="menu btn btn-default btn-lg" onclick="deploy();"
                        title="Deploy(Test)"
                        disabled>
                    <i class="fa fa-paper-plane"></i>

                </button>

                <!-- New EP Button -->
                <button type="button" class="menu btn btn-lg btn-success"
                        ng-show="NFFGCtrl.showEditButton"
                        ng-click="NFFGCtrl.newEP();" title="End-Point">
                    <i class="fa fa-circle fa-lg"></i>
                </button>

                <!-- New VNF Button -->
                <button type="button" class="menu btn btn-lg btn-success"
                        ng-show="NFFGCtrl.showEditButton"
                        ng-click="NFFGCtrl.newVNF();"
                        title="Virtual Network Function">
                    <i class="fa fa-square fa-lg"></i>
                </button>

                <!-- Create Link Button -->
                <button type="button" class="menu btn btn-lg"
                        ng-class="NFFGCtrl.isLinkCreation?'btn-primary':'btn-success'"
                        ng-show="NFFGCtrl.showEditButton"
                        ng-click="NFFGCtrl.newLink();"
                        title="Create Link"
                        id="newLinkButton">
                    <i class="fa fa-arrows-h fa-lg"></i>
                </button>

                <div class="btn-group" uib-dropdown is-open="false" ng-if="NFFGCtrl.fg['VNFs'].length > 0">
                    <button id="single-button" type="button" class="menu btn btn-default btn-lg" uib-dropdown-toggle ng-disabled="disabled">
                        VNF Config <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem" ng-repeat="el in NFFGCtrl.fg['VNFs']" ng-if="NFFGCtrl.configurableVNFs(el)">
                            <a ng-click="NFFGCtrl.configVNF(el.id, el.ports[0].mac);">
                                {{el.name}}
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Info Button -->
                <button type="button" class="menu btn btn-default btn-lg"
                        onclick="drawAnyItems();"
                        title="Help"
                        disabled>
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                </button>


            </div>
        </div>
        <div id="my_canvas">

            <p id="fg_id" ng-show="NFFGCtrl.fg" ng-click="NFFGCtrl.updateFGInfo();">
                <b ng-if="!NFFGCtrl.fg.name ">ID: {{ NFFGCtrl.fg.id }}</b>
                <b ng-if="NFFGCtrl.fg.name ">{{ NFFGCtrl.fg.name }} (ID: {{ NFFGCtrl.fg.id }})</b>
            </p>
            <p class="labelRight" ng-hide="NFFGCtrl.fg">
                <b>Load a graph to show its information</b>
            </p>
            <div id="svg_graph" d3nffg
                 ng-model="NFFGCtrl.fg"
                 x-position="NFFGCtrl.fgPos"
                 x-show-big-switch="NFFGCtrl.showBigSwitch"
                 x-is-forced="NFFGCtrl.isForced"
                 x-schema="NFFGCtrl.schema"
                 x-on-template-request="NFFGCtrl.getTemplates"
                 x-is-link-creation="NFFGCtrl.isLinkCreation"
                 x-on-link-creation="NFFGCtrl.onLinkCreation">
            </div>

        </div>


    </div>
    <!--/col-span-9-->
</div>