.nf {
    fill: inerith;
    stroke: #000;
    stroke-width: 1px;
}

.vnf {
    fill: #80A926;
}
.vnf-selected {
    fill: #ED571C;
}

.vnf-gear {
    font-size: 22px !important;
    fill: white;
    text-anchor: end;
    cursor: pointer
}

.vnf-text {
    fill: white;
    text-anchor: middle;
}

.interface {
    stroke-width: 1px;
    fill: #337AB7;
    stroke: #000;
}

.end-points {
    fill: #013E72;
    stroke: #000;
    stroke-width: 0px;
}

.end-points-selected {
    fill: #ED571C;
    stroke: #000;
    stroke-width: 0px;
}

.bs {
    fill: inerith;
    stroke: #000;
    stroke-width: 3px;
}

.big-switch {
    fill: rgba(131, 176, 34, 0.7);
}

.big-switch-selected {
    fill: rgba(237, 87, 28, 0.7);
}

.line, .line_menu {
    stroke-width: 2.5px;
}

.line {
    stroke: #000;
}

.link-selected {
    stroke-width: 2.5px;
    stroke: #ED571C;
    color: #ED571C;
}

.internet {
    stroke: transparent;
}

