<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="guiInfoCtrl.cancel()">×
    </button>
    <h2 class="modal-title">Project Info</h2>
</div>
<div class="modal-body info-body">
    <p>
        The front-end software was created with the collaboration of several people @ POLITO:
        <b>Francesco Benforte</b>,
        <b>Daniele Bevilacqua</b>,
        <b>Luigi Maio</b>,
        <b>Francesco Pellerey</b>,
        <b>Valentin Popov</b>,
        <b>Giacomo Ranieri</b>.
    </p>
    <p>
        The back-end software was created with the collaboration of several people @ POLITO:
        <b>Fulvio Risso</b>,
        <b>Ivano Cerrato</b>,
        <b>Francesco Benforte</b>,
        <b>Roberto Bonafiglia</b>,
        <b>Gabriele Castellano</b>,
        <b>Patrick Tomassone</b>,
        <b>Stefano Petrangeli</b>,
        <b>Mauricio Vasquez</b>,
        <b>Fabio Mignini</b>,
        <b>Alex Palesandro</b>,
        <b>Matteo Tiengo</b>,
        <b>Marco Migliore</b>,
        <b>David Verbeiren</b>,
        <b>Sergio Nuccio</b>,
        <b>Alessio Viola</b>,
        <b>Ennio Gurgone</b>,
        <b>Davide Pezzolla</b>,
        <b>Renato Carella</b>,
        <b>Giacomo Ratta</b>,
        <b>Paolo Magliona</b>,
        <b>Luigi Maio</b>.
        <b>Giuseppe Piscopo</b>,
        <b>Davide Maraschio</b>
    </p>
    <!--
                    <p>
                        This software is in version <b>1.0 alfa-test</b>.
                    </p>
    -->
    <p>
        The last update dates from <b> 01/02/2017 </b>
    </p>
    <div class="margin-base-vertical">
        <small class="text-muted">Application made with:
            <a href="https://angularjs.org/">AngularJS</a>,
            <a href="http://chieffancypants.github.io/angular-hotkeys/">Angular Hotkeys</a>,
            <a href="http://getbootstrap.com/">Bootstrap CSS - HTML5</a>,
            <a href="https://angular-ui.github.io/bootstrap/">UI Bootstrap by Angular UI</a>,
            <a href="https://github.com/m-e-conroy/angular-dialog-service">Angular Dialog Service</a>,
            <a href="http://d3js.org/">D3JS</a>,
            <a href="https://www.djangoproject.com/">Django Web Framework</a>.
        </small>
    </div>
</div>
<div class="modal-footer">
    <p class="text-center">
        <button class="btn btn-success btn" ng-click="guiInfoCtrl.cancel()"><i
                class="glyphicon glyphicon-chevron-left"></i>Back
        </button>
    </p>
</div>
