<div class="modal-header">
    <button type="button" class="close" ng-click="loadServerCtrl.cancel()" aria-hidden="true">×</button>
    <h4 class="modal-title" id="titleJson">Open graph from the server</h4>
</div>
<form class="form-horizontal" role="form" name="formLoadServer" novalidate>
    <div class="modal-body">
            <pre id="file_content_download" ng-if="loadServerCtrl.showGraph" style="max-height: 300px">
                {{ loadServerCtrl.selectedGraph["forwarding-graph"] |json }}
            </pre>

        <div class="form-group">
            <label class="control-label col-sm-2" for="graphList">Select Graph:</label>
            <div class="col-sm-9">
                <select class="form-control" id="graphList"
                        name="graph"
                        required
                        ng-disabled="loadServerCtrl.availableGraphs.length == 0"
                        ng-model="loadServerCtrl.selectedGraph"
                        ng-options="graph['nffg-uuid'] + '  --  ' + graph['forwarding-graph'].name for graph in
                        loadServerCtrl.availableGraphs">
                </select>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-primary"
                        ng-click="loadServerCtrl.reload()"><i class="fa fa-refresh"></i></button>
            </div>

        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                ng-click="loadServerCtrl.preview()"
                ng-disabled="loadServerCtrl.availableGraphs.length == 0">Preview
        </button>
        <button type="submit" class="btn btn-primary"
                ng-click="loadServerCtrl.load()"
                ng-disabled="loadServerCtrl.availableGraphs.length == 0">Open
        </button>

    </div>
</form>