<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="NewGroupCtrl.cancel()">×</button>
        <h4 class="modal-title">New Group</h4>
    </div>
    <form class="form-horizontal" role="form" id="formNewUser" method="post" name="formNewGroup" novalidate
          ng-submit="NewGroupCtrl.create(formNewGroup)">
        <div class="modal-body">
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Name:</label>
                <div class="col-sm-10">
                    <input type="text" id="name" class="form-control " placeholder=""
                           name="name"
                           required
                           ng-model="NewGroupCtrl.newGroup.name">
                    <div class="message"
                         ng-show="formNewGroup.name.$touched || formNewGroup.$submitted"
                         ng-messages="formNewGroup.name.$error">
                        <div ng-message="required">The field is required!</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" type="submit">OK</button>
            <button class="btn btn-danger" type="button" ng-click="NewGroupCtrl.cancel()">Cancel</button>
        </div>
    </form>

</div>