{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
    <link rel="stylesheet" href="{% static "nfg/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "nfg/css/style.css" %}">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <script type="text/javascript" src="{% static "nfg/js/jquery/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "nfg/js/bootstrap/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "nfg/js/bootstrap/bootstrap-filestyle.min.js" %}"></script>

    <script type="text/javascript" src="{% static "nfg/js/angular/angular.js" %}"></script>
    <script type="text/javascript" src="{% static "nfg/js/angular/angular-messages.js" %}"></script>
    <script type="text/javascript" src="{% static "nfg/js/angular/angular-mocks.js" %}"></script>
    <script type="text/javascript" src="{% static "nfg/js/angular/angular-route.js" %}"></script>
    <script type="text/javascript" src="{% static "nfg/js/bootstrap/ui-bootstrap-tpls-1.3.1.min.js" %}"></script>

    <script type="text/javascript" src="{% static "nfg/js/application/appBootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "nfg/js/application/routeProvider.js" %}"></script>
    <script type="text/javascript" src="{% static "nfg/js/application/controller/userListController.js"%}"></script>
</head>
<body>
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/nfg/">Virtualized Network Services GUI</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">

                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                        <i class="glyphicon glyphicon-user"></i>
                        Profile
                        <span class="caret"></span>
                    </a>

                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
                        <li><a href="#">Welcome {{ username }}</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/nfg/info"><i class="glyphicon glyphicon-info-sign"></i> Info</a>
                <li>
                <li><a href="/nfg/logout/"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
            </ul>
        </div>
    </div>
    <!-- /container -->

</div>
<div class="container-fluid" ng-view>

</div>
</body>
</html>