    .nf{
        fill: #80A926;
        stroke: #000;
        stroke-width: 2px;
    }

    .nf-select{
        fill: #ED571C;
        stroke: #000;
        stroke-width: 2px;

    }

    

    .interface{
        fill: #337AB7;
        stroke: #000;       
    }

    .end-points{
        fill:#013E72;
        stroke: #000;
        stroke-width: 4px;
    }

    .end-points-select{
        fill:#ED571C;
        stroke: #000;
        stroke-width: 4px;
    }

    .big-switch{
        fill: rgba(131, 176, 34, 0.7);
        stroke: #000;
        stroke-width: 2px;
    }

    .big-switch-select{
        fill: rgba(237, 87, 28, 0.7);
        stroke: #000;
        stroke-width: 2px;
    }

    .line,.BS_line,.line_menu{
       stroke-width: 2.5px; 
    }


    .internet{
        stroke: transparent;
    }

    [fullduplex~=false] {
        stroke:grey;
    }
