/* START FIX no backdrop on modal*/
html {
    height: 100%;
}

body {
    min-height: 100%;
}

.modal-backdrop {
    bottom: 0;
}

/* END FIX no backdrop on modal*/

#my_canvas {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: calc(100% - 64px);
}

#svg_graph {
    flex: 1;
    position: relative;
}

#svg_graph > svg {
    position: absolute;
}

.labelRight {
    text-align: right;
    padding-top: 10px;
    padding-right: 40px;
    color: #337AB7;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container-fluid.ng-scope {
    height: calc(100% - 81px);
    padding-bottom: 20px;
}



html,body,.col-md-12,.row {
  height:100%;
}
.row > div {
  height:100%;
}