/* START FIX no backdrop on modal*/
html {
    height: 100%;
}

body {
    min-height: 100%;
}

.modal-backdrop {
    bottom: 0;
}

/* END FIX no backdrop on modal*/

#my_canvas {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: calc(100% - 64px);
}

#svg_graph {
    flex: 1;
    position: relative;
}

#svg_graph > svg {
    position: absolute;
}

.labelRight {
    text-align: right;
    padding-top: 10px;
    padding-right: 40px;
    color: #337AB7;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-fluid.ng-scope {
    height: calc(100% - 81px);
    padding-bottom: 20px;
}

.blue-label {
    color: #337ab7;
    text-decoration: none;
}

form.ng-submitted input.ng-invalid {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

form.ng-submitted input.ng-invalid:focus {
    box-shadow: rgb(206, 132, 131) 0px 0px 6px 0px;
}

form.ng-submitted select.ng-invalid {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

form.ng-submitted select.ng-invalid:focus {
    box-shadow: rgb(206, 132, 131) 0px 0px 6px 0px;
}


html, body, .col-md-12, .row {
    height: 100%;
}

.row > div {
    height: 100%;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

/* START USERS/VNFs LIST STYLES */
.list-table {
    background-color: #EEE;
    border: 2px solid #80A926;
    border-top: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0;
    border-collapse: initial;
}
.list-menu {
    border: 2px solid #80A926;
    border-bottom: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 8px;
    background-color: #EEE;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin: 0;
}
.btn-delete{

}
.btn-edit{
    margin-right: 5px;
}

.glyphicon-group:before {
  content: "\e284";
}
/* END USERS/VNFs LIST STYLES
