/* START FIX no backdrop on modal*/
html {
    height: 100%;
}

body {
    min-height: 100%;
}

.modal-backdrop {
    bottom: 0;
}

/* END FIX no backdrop on modal*/

#my_canvas {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#svg_graph {
    flex: 1;
    position: relative;
}

#svg_graph > svg {
    position: absolute;
}

.labelRight {
    text-align: right;
    padding-top: 10px;
    padding-right: 40px;
    color: #337AB7;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}