html {
    background: #FFF url("../../img/frog-background.jpg") no-repeat scroll center center / cover;
}

body {

    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 40px;
}

/* Override B3 .panel adding a subtly transparent background */
.panel {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin-top: 50px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 3em 3em;
}

.panel-default {
    border-color: #DDD;
}

.margin-base-vertical {
    margin: 40px 0;
}

#icon {
    font-size: 20px;
}

.btn-success {
    background-color: #337AB7;
    border: medium none;
}

.btn.btn-signin:hover, .btn.btn-signin:active, .btn.btn-signin:focus {
    background-color: #0C6121;
}